@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1565754014632');
  /* IE9 */
  src: url('iconfont.eot?t=1565754014632#iefix') format('embedded-opentype'),
    url('iconfont.woff?t=1565754014632') format('woff'),
    url('iconfont.ttf?t=1565754014632') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1565754014632#iconfont') format('svg');
  /* iOS 4.1- */
}

.mall {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mall-dizhi:before {
  content: "\e605";
}